<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cool Blue Air Conditioning is your Arizona HVAC-Repair Specialist. Serving the greater Tucson area.</title>
  <meta name="description" content="The best air conditioning and refrigeration service and repair specialist in Arizona. Serving the greater Tucson area."/>
  <meta name="robots" content="index, follow" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/w3.css" />
  <link rel="stylesheet" href="/assets/font-awesome/css/all.css" />
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
</head>

<body class="targeted-theme color-theme-white">
  <span id="top-span"></span>
  

  <!-- ************* modals **************************** -->
  <!-- *********** The Modal 1 **************-->
  <div id="hvacModal1" class="modal">
    <!-- Modal content -->
    <div onclick="closeModal('1')" class="close">&times;</div>
    <div class="modal-content targeted-theme color-theme-white">
      <div class=" top-general-btn-wrapper ">
        <a onclick="onClickService('1')" class=" w3-button w3-gray general-btn">Diagnostic</a>
        <a onclick="onClickService('2')" class=" w3-button w3-gray general-btn">AC</a>
        <a onclick="onClickService('3')" class=" w3-button w3-gray general-btn">Heat</a>
        <a onclick="onClickService('4')" class=" w3-button w3-gray general-btn">Refrigeration</a>
        <a onclick="onClickService('5')" class=" w3-button w3-gray general-btn">Preventive</a>
      </div>
      <div id="service1" class="review-container ">
        <div class="review-wrapper w3-row ">
          <div class="w3-col l7 m12 w3-margin"> 
            <h1 class="w3-xxlarge w3-text-blue"><b>Diagnostic</b></h1>
            <p>
              After we arrive on time and depending on the accessibility of the unit a diagnostic of a residential or commercial HVAC-R system takes on average an hour. Before you choose a solution our qualified technician will sit down with you to discuss all possible options. Our goal is to return your HVAC-R system to its optimal condition in a single visit. We appreciate your business and understand the importance of value. Our standard diagnostic fee is applicable seven days a week from 7 am to 7 pm. To schedule a service, call us at 520-555-5555 or <a href="#service" onclick="closeModal(1)">book an appointment</a> 
          
            </p>
           
            <ul>
              <li>Standard diagnostic fee: $79</li>
              <li>After 7pm diagnostic fee: $179</li>
              <li>Accessibility level 1: $10</li>
              <li>Accessibility level 2: $20</li>
              <li>Travel beyond the greater Tucson area: $10-$20</li>
            </ul>
          </div>
          <div class="w3-col l4 m12">
            <img class="w3-image w3-margin" src="/assets/img/hvac-man-unit.jpg" alt="hvac pic">
          </div>
        </div>
      </div>

      <div id="service2" class="review-container w3-hide">
        <div class="review-wrapper w3-row ">
          <div class="w3-col m12 l4 w3-margin">

            <img class="w3-image " src="/assets/img/DigitalManifold.jpg" alt="hvac pic">
          </div>
          <div class="w3-col l7 m12 w3-margin"> 
            <h1 class="w3-xxlarge w3-text-blue"><b>Air Conditioning Service</b></h1>
            <p>
              We are here to help in the unfortunate event your air conditioning unit is in need of urgent repair. We are a phone call away and available 24 hours a day. Your time if valuable. Once an appointment is scheduled we are committed to repairing your unit right the first time. Our qualified technicians provide the very highest quality service in a timely manner. To schedule a service, call us at 520-555-5555 or <a href="#service" onclick="closeModal(1)">book an appointment</a>  
            </p>
            <h1 class="w3-large"><b>General prices</b></h1>
            <ul>
              <li>Capacitors start at: $30</li>
              <li>Contactors start at $50</li>
              <li>Condensing fan motor start at: $350</li>
              <li>Indoor fan motor start at $325</li>
              <li>Outdoor coil cleaning start at $100</li>
              <li>Indoor coil cleaning start at $125</li>
              <li>Compressors start at $950</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="service3" class="review-container w3-hide">
        <div class="review-wrapper w3-row ">
          <div class="w3-col l7 m12 w3-margin"> 
            <h1 class="w3-xxlarge w3-text-blue"><b>Heating Service</b></h1>
            <p>
              We repair any and all heating systems. Ranging from high efficiency gas furnaces to heat pumps. It doesn’t matter when the repair is needed we will be there to fix it. Our technician are committed to safety and will take the time to do the work correctly. If you have a gas system we will test the carbon monoxide levels to ensure it’s safe. To schedule a service, call us at 520-555-5555 or <a href="#service" onclick="closeModal(1)">book an appointment</a>   
            </p>
            <h1 class="w3-large"><b>General prices</b></h1>
            <ul>
              <li>Seasonal heater startup begin at: $55</li>
              <li>Natural gas burner adjustment start at: $50</li>
              <li>Capacitors start at: $30</li>
              <li>Contactors start at $50</li>
              <li>Condensing fan motor start at: $350</li>
              <li>Indoor fan motor start at $325</li>
              <li>Outdoor coil cleaning start at $100</li>
              <li>Indoor coil cleaning start at $125</li>
              <li>Compressors start at $950</li>
            </ul>
          </div>
          <div class="w3-col l4 m12">
            <img class="w3-image w3-margin" src="/assets/img/furnace-repair.jpg" alt="hvac pic">
          </div>
        </div>
      </div>

      <div id="service4" class="review-container w3-hide">
        <div class="review-wrapper w3-row ">
          <div class="w3-col m12 l4 w3-margin">
            <img class="w3-image " src="/assets/img/walkin.jpg" alt="hvac pic">
          </div>
          <div class="w3-col l7 w3-margin"> 
            <h1 class="w3-xxlarge w3-text-blue"><b>Refrigeration Service</b></h1>
            <p>
              Commercial Refrigeration is the back bone of society. It provides fresh safe food for people to eat. That is why its important keeping the temperature cold in commercial refrigeration walk-in and reach-in. If you notice the temperature reaching a dangerous level don’t hesitate to call us. We understand the importance of time and the value of your product. We are available any time day or night. We can service and repair medium temp and low temp systems. To schedule a service, call us at 520-555-5555 or <a href="#service" onclick="closeModal(1)">book an appointment</a> 
            </p>
            <h1 class="w3-large"><b>General prices</b></h1>
            <ul>
              <li>Capacitors start at: $30</li>
              <li>Contactors start at $50</li>
              <li>Condensing fan motor start at: $350</li>
              <li>Indoor fan motor start at $325</li>
              <li>Outdoor coil cleaning start at $100</li>
              <li>Indoor coil cleaning start at $125</li>
              <li>Compressors start at $950</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="service5" class="review-container w3-hide">
        <div class="review-wrapper w3-row ">
          <div class="w3-col l7 w3-margin"> 
            <h1 class="w3-xxlarge w3-text-blue"><b>Preventive Maintenance</b></h1>
            <p>
              Being proactive with maintenance is a proven way to save money and ensure that your system runs all season long without any issue. Whether it is April and your getting ready for another long summer in Arizona or winter is approaching and your furnace has come on for the first time that season, we will be there to meet all your preventive maintenance needs. Regular maintenance will save you money by reducing energy cost. Call us at 520-555-5555 to sign up for a preventive maintenance contract or <a href="#service" onclick="closeModal(1)">book an appointment</a> 
            </p>
            <h1 class="w3-large"><b>General prices</b></h1>
            <ul>
              <li>Seasonal maintenance start at: $79</li>
              <li>Yearly maintenance start at $140</li>
              <li>10% discount on parts</li>
              <li>10% discount on labor</li>
              <li>Priority to contract holders </li>
            </ul>
          </div>
          <div class="w3-col m12 l4">
            <img class="w3-image w3-margin" src="/assets/img/making-deal.jpg" alt="hvac pic">
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--******** The Modal 4 ******************-->
  <div id="hvacModal4" class="modal">
    <!-- Modal content -->
    <div onclick="closeModal('4')" class="close">&times;</div>
    <div class="modal-content targeted-theme color-theme-white ">


        <div class="w3-content" >
        
        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32"> 
          <h1><b>HVAC BLOG</b></h1>
          <p>Welcome to the blog of <span class="w3-tag">Cool Blue</span></p>
        </header>
        
        <!-- Grid -->
        <div class="w3-row">
        

          <div class="w3-card-4 w3-margin ">
            <div class="w3-container w3-padding">
              <h4>Popular Posts</h4>
            </div>
              <ul class="w3-ul w3-hoverable w3-white blog-bar ">
                <a href="#seer"><li class="w3-margin w3-card">
                  <img src="/assets/img/SEER-1.jpg"  alt="Image" class="w3-left w3-margin-right" style="width:50px"><br>
                  <span class="w3-large">SEER</span><br>
                  <span>What is SEER?</span>
                </li></a>
               <a href="#heatpump"> <li class="w3-margin w3-card">
                  <img src="/assets/img/heat-pump-diagram2.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"><br>
                  <span class="w3-large">Heatpump</span><br>
                  <span>Check the cycles...</span>
                </li> </a>
               <a href="#packageUnit"> <li class="w3-margin w3-card ">
                  <img src="/assets/img/hvac-package-unit.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"><br>
                  <span class="w3-large">Package unit</span><br>
                  <span>Everything in one</span>
                </li> 
              </a>  
              <a href="#thermostat"> <li class="w3-margin w3-card ">
                <img src="/assets/img/thermostat-nest.webp" alt="Image" class="w3-left w3-margin-right" style="width:35px"><br>
                <span class="w3-large">Thermostats</span><br>
                <span>Learning T-Stat.</span>
              </li> 
            </a> 
            <a href="#centralAir"> <li class="w3-margin w3-card ">
              <img src="/assets/img/hvac-system1.png" alt="Image" class="w3-left w3-margin-right" style="width:38px"><br>
              <span class="w3-large">Central Air</span><br>
              <span>The basics of...</span>
            </li> 
          </a> 
          <a href="#"> <li class="w3-margin w3-card ">
            <img src="/assets/img/hvac-package-unit.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"><br>
            <span class="w3-large">Dorum</span><br>
            <span>Ultricies congue</span>
          </li> 
        </a> 
            
            </ul>
          </div>
          <hr> 




        <!-- left Blog entries -->
        <div class="w3-col l6 s12">


     <!-- Blog entry -->
     <div id="seer" class="w3-card-4 w3-margin w3-white w3-container">
      <img src="/assets/img/SEER-1.jpg" class="w3-image w3-margin" style="width: 95%;" alt="SEER">
      <div class="w3-container">
        <h3><b>BLOG ENTRY</b></h3>
        <h5>SEER <span class="w3-opacity">April 1, 2019</span></h5>
      </div>
  
      <div class="w3-container">
        <p>Seasonal Energy Efficiency Ratio (SEER) is an estimation of the average efficiency of an air conditioner throughout the entire cooling season and is used to describe the efficiency of refrigeration and air conditioning systems. The SEER rating is the estimated cooling done by the unit during its normal usage divided by the estimated electric energy input in watt-hours during this time. As a general rule of thumb the higher the SEER rating the more efficient and higher the savings.</p>
            <button class="accordion w3-button w3-padding-large  w3-border w3-section"><b>READ MORE »</b></button>
            <div class="panel">
              <p>The government has mandated improved energy efficiency measures. All new air conditioners must achieve a SEER rating of 13 of higher. Older units may have a SEER rating a low as 6. To qualify for an Energy Star rating, air conditioners must have a SEER rating of 15 or higher. Variable speed compressors, variable speed blower motors, better refrigerants and increased use of automatic control systems have allowed systems to achieve SEER ratings higher than 20. As a unit gets older it will lose its efficiency. There are simple steps that can be taken to maintain a units SEER. Regular check ups can be useful in spotting problems. Left untreated a small issue can get worse. Keeping the air flow around an outdoor unit, cleaning coils and changing the air filter on a regular bases can all help with keeping the system running in peak condition.</p>
              <img src="/assets/img/SEER.png" class="w3-image w3-margin" style="width: 95%;" alt="SEER chart">
            </div>
        
      </div>
    </div>
    <hr>


          <!-- Blog entry -->
          <div id="centralAir" class="w3-card-4 w3-margin w3-white w3-container">
            <img src="/assets/img/hvac-system1.png" class="w3-image w3-margin" style="width: 95%;" alt="hvac unit">
            <div class="w3-container">
              <h3><b>BLOG ENTRY</b></h3>
              <h5>Whole house system. <span class="w3-opacity">April 7, 2019</span></h5>
            </div>
        
            <div class="w3-container">
           
              <p>The diagram shows one condensing unit outside on the ground with two air handlers. One air handler is in the attic and the other one is in the basement. Duct work connects them to supply and return registers. Air travels from the living space to the air handlers where it is cleaned and conditioned then sent back to the rooms. </p>
              <button class="accordion w3-button w3-padding-large  w3-border w3-section"><b>READ MORE »</b></button>
              <div class="panel">
                <p><span class="w3-large">Central Air Conditioning</span> Most split air conditioning systems have their components in two or more separate locations. A split system’s condensing unit is often located outdoors, and its evaporating unit is places indoors. The evaporator is installed in a central air handler cabinet that is connected to network of ducts. The duct system moves the air to and from the air handler. The air filters can be located any where in the return duct network, it is usually found at a return register or at the inlet of the air handler. The size of a residential air conditioner can range from 1 ton up to a 5 ton unit. If the house is large there can be several units on a single house. Call us or <a href="#service" onclick="closeModal(4)">book an appointment</a> to have your central air condentioner serviced.</p>
              </div>
            </div>
          </div>
          <hr>
        
          <!-- Blog entry -->
          <div id='heatpump' class="w3-card-4 w3-margin w3-white w3-container">
            <div class="flip-box w3-hide-small">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="/assets/img/heat-pump-diagram2.jpg" alt="heat pump" style="width:400px;height:325px">
                </div>
                <div class="flip-box-back">
                  <img src="/assets/img/heat-pump-diagram1.gif" alt="heat pump" style="width:400px;height:325px">
                </div>
              </div>
            </div>

            <div class="flip-box-small w3-hide-medium w3-hide-large">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="/assets/img/heat-pump-diagram2.jpg" alt="heat pump" style="width:300px;height:205px">
                </div>
                <div class="flip-box-back">
                  <img src="/assets/img/heat-pump-diagram1.gif" alt="heat pump" style="width:300px;height:205px">
                </div>
              </div>
            </div>

            <div class="w3-container">
              <h3><b>BLOG ENTRY</b></h3>
              <h5>Heat pump.<span class="w3-opacity">May 22, 2019</span></h5>
            </div>
        
            <div class="w3-container">
              <p><span class="w3-large ">Hover over the image</span> to view the different cycles of a heat pump. During the summer a heat pump will operate as a normal air conditioner. It picks up heat from the indoor coil and moves that heat to the outdoor coil where it is rejected to the out door ambient air. When the temperatures outside get colder and winter is here then the heat pump works in reverse. Absorbing heat from outside and transferring it indoors.</p>
              <button class="accordion w3-button w3-padding-large  w3-border w3-section"><b>READ MORE »</b></button>
              <div class="panel">
                <p>Seasonal Energy Efficiency Ratio (SEER) is an estimation of the average efficiency of an air conditioner throughout the entire cooling season and is used to describe the efficiency of refrigeration and air conditioning systems. The SEER rating is the estimated cooling done by the unit during its normal usage divided by the estimated electric energy input in watt-hours during this time.</p>
              </div>
            </div>
          </div>
          <hr>

  <!-- Blog entry -->
  <div id="packageUnit" class="w3-card-4 w3-margin w3-white w3-container">
    <img src="/assets/img/hvac-package-unit.jpg" class="w3-image w3-margin" >
    <div class="w3-container">
      <h3><b>BLOG ENTRY</b></h3>
      <h5>Diagram of a package air conditioner. <span class="w3-opacity">July 27, 2019</span></h5>
    </div>

    <div class="w3-container">
   
      <p>A package AC unit has all the major parts contained with in it; the compressor, condensing fan, condensing coil, blower and evaporator coil. It is typically mounted on top of a house or building.</p>
      <button class="accordion w3-button w3-padding-large  w3-border w3-section"><b>READ MORE »</b></button>
      <div class="panel">
        <p>Seasonal Energy Efficiency Ratio (SEER) is an estimation of the average efficiency of an air conditioner throughout the entire cooling season and is used to describe the efficiency of refrigeration and air conditioning systems. The SEER rating is the estimated cooling done by the unit during its normal usage divided by the estimated electric energy input in watt-hours during this time.</p>
      </div>
    </div>
  </div>
  <hr>

        <!-- END left BLOG ENTRIES -->
        </div>
        
        <!-- right blogs -->
        <div class="w3-col l6 s12">

          <div id="thermostat"  class="w3-card-4 w3-margin w3-white w3-container">
            <img src="/assets/img/thermostat-nest.webp" class="w3-image w3-margin" >
            <div class="w3-container">
              <h3><b>BLOG ENTRY</b></h3>
              <h5>Thermostats <span class="w3-opacity">August 1, 2019</span></h5>
            </div>
        
            <div class="w3-container">
           
              <p>There are so many types of thermostat that control cooling and heating systems. Cooling thermostat and heating thermostat are the two basic types and when combined its called a combination thermostat or a heating-cooling thermostat. Some combination thermostats will automatically change from heating to cooling.</p>
              <button class="accordion w3-button w3-padding-large  w3-border w3-section"><b>READ MORE »</b></button>
              <div class="panel">
                <p>Modern thermostats can be much more responsive and intuitive. Wi-Fi enabled thermostats can be operated from anywhere in the world using a smartphone. Learning thermostats can remember an occupant’s desired set point and adapt the HVAC system operation to automatically program On and Off cycles and temperature set points. This can significantly reduce the energy used over the units life.</p>
                <p><span class="w3-large">Programmable thermostats.</span> The correct thermostat can save the home owner money. We recommend a programmable thermostat. Programmable thermostats have a micro processor that functions as a clock and allows users to select different indoor climate conditions for different blocks of time. The programming can maximize the efficiency of a system. An energy saving tip is to change the temperature of the system at the thermostat to decrease the run time during the night and when not at home.</p>
                <p><span class="w3-large">Older thermostat used mercury as a switching element.</span> Mercury is a very toxic substance and prolonged exposure may cause severe health effects. The use of mercury thermostats is being phased out and banned in some nation. If you have an older thermostat that has mercury contact us or <a href="#service" onclick="closeModal(4)">book an appointment</a> so we can safely replace it for a newer one.</p>
              </div>
            </div>
          </div>
          <hr>
          
     
         
          <!-- Labels / tags -->
          <div class="w3-card w3-margin">
            <div class="w3-container w3-padding">
              <h4>Tags</h4>
            </div>
            <div class="w3-container w3-white">
            <p><span class="w3-tag w3-black w3-margin-bottom">Air Conditioning</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Heating</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">HVAC</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Arizona</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Refrigeration</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Serivce</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">AC</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Cool Blue</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">24 hr</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">AZ</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">AC Repair</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Tucson</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Maintenance</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Master Cool</span>
            </p>
            </div>
          </div>
          
        <!-- END right blogs-->
        </div>
        
        <!-- END GRID -->
        </div><br>
        
        <!-- END w3-content -->
        </div>
        
    

    </div>
  </div>

  <!--************* The Modal 5 ************************-->
  <div id="hvacModal5" class="modal">
    <!-- Modal content -->
    <div onclick="closeModal('5')" class="close">&times;</div>
    <div class="modal-content targeted-theme color-theme-white ">
      <h1>Choose a color theme for the site ...</h1>
      <h3>Select either Light or Dark theme...</h3>
      <h4>Shadow, High Contrast and Wow are optional.</h4>
      <div class=" w3-border top-general-btn-wrapper">
        <a onclick="changeTheme(1)" class=" w3-button general-btn backgroundblack">Light Theme <i class="fas fa-check themeCheck1 w3-show"></i></a>
        <a onclick="changeTheme(2)" class=" w3-button general-btn backgroundblack">Dark Theme <i  class="fas fa-check themeCheck2 w3-hide"></i></a>
        <a onclick="changeTheme(3)" class=" w3-button general-btn backgroundblack">Shadow Theme <i  class="fas fa-check themeCheck3 w3-hide"></i></a>
        <a onclick="changeTheme(4)" class=" w3-button general-btn backgroundblack">High contrast <i class="fas fa-check themeCheck4 w3-hide"></i></a>
        <a onclick="changeTheme(5)" class=" w3-button general-btn backgroundblack">Wow Theme <i class="fas fa-check themeCheck5 w3-hide"></i></a>
      </div>
    </div>
  </div>


  <!-- ****************** beginning of main page ************************-->

  
  <!-- navbar -->
  <div class="w3-top ">
    <div id="myNavbar" class="w3-bar targeted-theme color-theme-white w3-card">
      <div class="menu-btn-wrapper w3-hide-medium w3-hide-large w3-right">
        <a class=" menu-btn" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
          <div class="top-bur-bar"></div>
          <div class="hamburger"></div>
          <div class="btm-bur-bar"></div>
        </a>
      </div>


      <div class="top-bar-btn-container">
        <span class="width20">
          <a onclick="onClickModal('1')"
            class="w3-hide-small w3-button w3-section  width100 top-nav-bar-btn">Services</a>
        </span>

      
        <span class="width20">
          <a href="#contact"
            class="w3-hide-small w3-button w3-section  width100 top-nav-bar-btn">Contact  <i class="message-notification far fa-comment"></i><i class="message-notification-number"></i></a>
            
        </span>

        <span class="width20">
          <a onclick="onClickModal('4')"
            class="w3-hide-small w3-button w3-section  width100 top-nav-bar-btn">Blog</a>
        </span>

        <span class="width20">
          <a onclick="onClickModal('5')"
            class="w3-hide-small w3-button w3-section  width100 top-nav-bar-btn">Theme</a>
        </span>

      </div>
    </div>



    <!-- Navbar on small screens -->
    <div id="navSmall" class="w3-bar-block targeted-theme color-theme-white w3-hide w3-hide-large w3-hide-medium w3-top ">

      <span class="width20 ">
        <a onclick="onClickModal('1')" class=" w3-button  width100 top-nav-bar-btn">Services</a>
      </span>

    
      <span class="width20">
        <a onclick="onClickModal('3')" class=" w3-button  width100 top-nav-bar-btn">Contact  <i class="message-notification far fa-comment"></i><i class="message-notification-number"></i></a>
        
      </span>

      <span class="width20">
        <a onclick="onClickModal('4')" class=" w3-button    width100 top-nav-bar-btn">Blog</a>
      </span>

      <span class="width20">
        <a onclick="onClickModal('5')" class=" w3-button  width100 top-nav-bar-btn ">Theme</a>
      </span>

    </div>
  </div>

  </div>



  <!-- call to action logo -->
  <div class="cta-main  ">
    <div class="cta-word-container ">
      <div class="az-img-text-wrapper ">
      <div class="cool-blue-main-text font-weight-bold colorBlu">Cool Blue <h1 class="cta-sub font-weight-bold ">Air Conditioning</h1></div>
  
      </div>
      <div class="cta-sub-two font-weight-bold colorBlu"><img class="az-image" src="/assets/img/AZblue.png" alt="map of Arizona"> Your Arizona HVAC-Repair Specialist</div>
    </div>
  </div>


  <!-- First section -->
  <div class="top-img-box">
   
    <section class="hero-area">
      <div class="hero-slideshow owl-carousel">

        <!-- Single Slide -->
        <div class="single-slide">
          <!-- Background Image-->
          <div class="bgimg-1-1"></div>
          <!-- Welcome Text -->
          <div class="top-text-container">
            <div class="align-items-center">
              <div class="">
                <div class="welcome-text-1 margin2rem">
                  <h1 class="font-weight-bold" >Call us at: 520-481-3956</h1>
                  <h2 class="font-weight-bold"><span>24 hr</span><br>Emergency Service</h2>
                  <h4 class="font-weight-bold" >Hours 4 p.m - 9 p.m. <span>Standard rates apply</span></h4>
                  <a href="#service" class="w3-button backgroundblack w3-section">Sign up for Service</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide">
          <!-- Background Image-->
          <div class="bgimg-1-2"></div>
          <!-- Welcome Text -->
          <div class="top-text-container">
            <div class="align-items-center">
              <div class="">
                <div class="welcome-text-2 margin2rem">
                  <h1 class="font-weight-bold color-white" >Call us at: 520-481-3956</h1>
                  <h2 class="font-weight-bold color-white"><span>24 hr</span><br>Emergency Service</h2>
                  <h4 class="font-weight-bold color-white" >Hours 4 p.m - 9 p.m. <span>Standard rates apply</span></h4>
                  <a href="#service" class="w3-button w3-gray w3-section">Sign up for Service</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>




  <!-- Container (About Section) -->

      <div class="w3-padding-64 ">
        <div class="w3-row-padding ">
          <div class="w3-col l8 m6">
            <h1 class="w3-jumbo"><b>ABOUT</b></h1>
            <h1 class="w3-xxxlarge w3-text-blue"><b>Cool Blue Air Conditioning</b></h1>
            <h1 class="w3-xxlarge w3-text-green"><b>Service and Repair</b></h1>
            <p><span class="w3-xlarge ">We're dedicated</span> to providing high quality, reliable service, maintenance and repair of every make and model of HVAC-R equipment. Whether your air conditioner needs a tune up before the up coming season or its the middle of winter and your heat stops working call us any time. We specialize in same day service and repair. Our Technicians are certified and highly qualified to meet all your air conditioning, heating and refrigeration serivce repair needs.</p>
          </div>
          <div class="w3-col l4 m6"> 
          <a href="https://www.escogroup.org/hvac/ " target="_blank"><img src="/assets/img/hvacexcellenceaccredited.png" class="w3-image w3-center w3-round" width="335" height="471"></a>
          </div>
        </div>
      </div>

      <div class="w3-padding-64 ">
        <div class="w3-row-padding ">
          <div class="w3-col l4 m6">
           <a  href="https://www.escogroup.org/" target="_blank"><img class="w3-image w3-card-4 w3-round w3-center" src="/assets/img/EPA-logo.png" alt="epa logo" width="335" height="471"></a> 
          </div>
          <div class="w3-col l8 m6 ">
            <h1 class="w3-jumbo"><b>Tucson, AZ</b></h1>
            <h1 class="w3-xxxlarge w3-text-red"><b>Our technicians are E.P.A certified</b></h1>
            <p><span class="w3-xlarge">A revolution in Air Conditioning.</span> Arizona is a great place to live and work. Our success is owed in part to the larger HVAC-R community. A special thanks to all the mentors and members of <a href="http://www.centralazrses.org/" target="_blank">R.S.E.S</a> such as <a href="https://techtrainassoc.com/" target="_blank">Jim Johnson</a> for all his guidance and articles in <a href="https://hvactoday.com/" target="_blank">HVAC-R Today</a>. There a so many wonderful men and women doing their part in keeping Tucson a cool place. From the <a href="https://www.fm.arizona.edu/#/ " target="_blank">University of Arizona</a> to <a href="https://www.pima.edu/academics-programs/degrees-certificates/industry-manuf-construction/building-construction/hvac-r-technician-cert/index.html " target="_blank">Pima Community College</a> to all the supply houses around town. Each and everyone plays an important part.</p>
          </div>
        </div>
      </div>

 <!-- reputation -->
 <div class="w3-padding-64 ">
 <div id="reputation" class=" w3-row-padding ">
  <div class="w3-col l7 m6">
    <h1 class="w3-xxxlarge w3-text-blue"><b>Reputation</b></h1>
    <p><span class="w3-xlarge ">We're known </span>in the great state of Arizona for our ability to deliver the best service. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur fugit inventore consectetur, ipsa beatae aut odio, a obcaecati, atque ea culpa vitae laborum rem eveniet fuga totam quas neque accusantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aliquam et voluptatum quasi iusto laudantium saepe. Architecto labore illo, quasi expedita, maxime alias unde eaque quibusdam voluptate necessitatibus delectus sequi. serivce repair needs.</p>
  </div>
    <div class=" w3-col l5 m6" >
      <div class="w3-center">
    <img src="/assets/img/avatar_smoke.jpg" alt="Avatar" class="w3-left w3-round w3-margin-right w3-card-4" style="width:100px">
    <p><span class="w3-large  w3-margin-right">Chandler Bing.</span> Web Designer.</p>
    <p>Jane Doe is just awesome. I am so happy to have met her!</p><br>
   
    <img src="/assets/img/avatar_g2.jpg" alt="Avatar" class="w3-left w3-round w3-margin-right w3-card-4" style="width:100px">
    <p><span class="w3-large w3-margin-right">Chris Fox.</span> CEO at Mighty Schools.</p>
    <p>Jane Doe saved us from a web disaster.</p><br>
    
    <img src="/assets/img/avatar_g2.jpg" alt="Avatar" class="w3-left w3-round w3-margin-right w3-card-4" style="width:100px">
    <p><span class="w3-large w3-margin-right">Rebecca Flex.</span> CEO at Company.</p>
    <p>No one is better than Jane Doe.</p><br>
  </div>
</div>
</div>
 </div>



  <!-- Second Parallax Image with sevice Text -->
  <div class="bgimg-2 w3-display-container ">
    <div class="w3-display-middle">
      <span class="w3-xxlarge w3-wide  font-weight-bold color-white">SERIVCE</span>
    </div>
  </div>

  <!-- sign up for service section -->


  <div id="service" class="w3-padding-64 ">
    <div class="w3-row-padding ">
      <div class="w3-col l6 m6">
        <h1 class="w3-jumbo"><b>SERVICE</b></h1>
        <h1 class="w3-xxxlarge w3-text-blue"><b>We'd love to work for you!</b></h1>
       
        <p><span class="w3-xlarge">24 hours a day, 7 days a week,</span> we are here to help. You can schedule an appointment for a number of different reasons. If you are a new customer wanting a seasonal inspection for an air conditioning unit or booking an annual service enter your information in the Book an appointment section. If you have an urgent matter or prefer to speak with someone please call us at: 520-555-5555. .</p>
      </div>
      <div class="w3-col l6 m6">
        <h1 class="w3-xxlarge"><b>Book an appointment:</b></h1>
      
        <form action="" id="formService">
          <div class="w3-row-padding" style="margin: 0 -16px 8px -16px;">
            <div class="w3-half">
              <input id="nameService" class="w3-input w3-border w3-card-4" type="text" placeholder="Name" required name="Name" />
            </div>
            <div class="w3-half">
              <input id="emailService" class="w3-input w3-border w3-card-4" type="email" placeholder="Email" required
                name="Email" />
            </div>
          </div>
          <div class="w3-row-padding" style="margin: 0 -16px 8px -16px;">
            <div class="w3-half">
              <input id="timeService" class="w3-input w3-border w3-card-4" type="time" placeholder="Time" required name="Time" />
            </div>
            <div class="w3-half">
              <input id="dateService" class="w3-input w3-border w3-card-4" type="date" placeholder="Date" required
                name="Date" />
            </div>
          </div>
          <textarea id="messageService" class="w3-input w3-border w3-card-4" type="text" placeholder="Service request plus phone number" required name="Message" ></textarea>
          <button class="w3-button  w3-left w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> Book appointment
          </button>
        </form>
        <h4 id="serviceThanksMsg"></h4>
      </div>
    </div>
     
  </div>
<!-- </div> -->

<!-- **************  reference picture *********** -->
<div class="w3-padding-64 ">
  <div class="w3-row-padding ">
    <div class="w3-col l6 m8 ">
        <img class="reference-image w3-margin w3-card-4 w3-round" src="/assets/img/hvac-system3.jpg"  alt="ac system">
    </div>
    <div class="w3-col l6 m4">
      <h1 class="w3-xxxlarge w3-text-blue w3-margin"><b>Reference</b></h1>
      <p class="w3-margin"><span class="w3-xlarge ">This is a picture of a typical split system air conditioning unit.</span> As you can see there is an outdoor unit (the condensing unit) and the indoor unit (the air handler) that are connected with refrigerant piping. Please feel free to use this picture as a reference when booking an appointment and describing your system. There is another popular type of air conditioning system call a <a href="#packageUnit" onclick="onClickModal('4')">package unit</a>. Which contains all the main parts into one.</p>
    </div>
  </div>
</div>

<!-- ******************* coil cleaning ******************-->
<div class="w3-padding-64 ">
  <div class="w3-row-padding ">
    <div class="w3-col l6 ">
      <h1 class="w3-xxxlarge w3-text-blue w3-margin"><b>Coil Cleaning</b></h1>
      <p class="w3-margin"><span class="w3-xlarge ">This is an extreme case.</span> The dirty coil in the picture causes air flow restriction can lead to serious damage or system failure. Even slight air flow obstructions will result in lower efficiency and an increase electric bill. Keeping the coil clean and removing any items that are to close to it will ensure the system is running in peak condition. Call us today to have your coil inspected.</p>
    </div>
    <div class="w3-col l6  "> 
      <div class="w3-row">
      <div class="img-magnifier-container w3-col m6  w3-center">
        <img id="myimage" class="w3-card-4 w3-round" src="/assets/img/hvac-before-coil-cleaning.png" width="300" height="350" alt="coils">
      </div>
      <div class="img-magnifier-container w3-col m6  w3-center ">
        <img class="w3-card-4 w3-round"   src="/assets/img/hvac-after-coil-cleaning.png" width="300" height="350" alt="coils">
      </div>
    </div>
      </div>
    </div>
  </div>
<!-- </div> -->



 
 




  <!-- Third Parallax Image with Portfolio Text -->
  <div class="bgimg-3 w3-display-container zindex3">
    <div class="w3-display-middle">
      <span class="w3-xxlarge w3-wide colorBlk font-weight-bold">CONTACT</span>
    </div>
  </div>

  <!-- Container (Contact Section) -->
  <div class="w3-content w3-container w3-padding-64" id="contact">
    <h1 class="w3-jumbo"><b>LOCATION</b></h1>
    <h1 class="w3-xxxlarge"><b>We'd love your feedback!</b></h1>
    

    <div class="w3-row w3-padding-32 w3-section">
      <div class="w3-col m4 w3-container ">
        <img src="/assets/img/map.jpg" class="w3-image w3-round thinBorder w3-card-4" style="width: 100%;" alt="map" />
      </div>
      <div class="w3-col m8 w3-panel">
        <div class="w3-large w3-margin-bottom">
          <i class="fa fa-map-marker fa-fw w3-hover-opacity-blue w3-xlarge w3-margin-right"></i>
          Tucson, AZ<br />
          <i class="fa fa-phone fa-fw w3-hover-opacity-blue w3-xlarge w3-margin-right"></i>
          Phone: 520-555-5555<br />
          <i class="fa fa-envelope fa-fw w3-hover-opacity-blue w3-xlarge w3-margin-right"></i>
          Email: cdogrunn@gmail.com<br />
        </div>
        <p>leave us a note:</p>
        <form action="" id="form">
          <div class="w3-row-padding" style="margin: 0 -16px 8px -16px;">
            <div class="w3-half">
              <input id="name" class="w3-input w3-border w3-card-4" type="text" placeholder="Name" required name="Name" />
            </div>
            <div class="w3-half">
              <input id="email" class="w3-input w3-border w3-card-4" type="email" placeholder="Email" required name="Email" />
            </div>
          </div>
          <input id="message" class="w3-input w3-border w3-card-4" type="text" placeholder="Message" required name="Message" />
          <button class="w3-button blkbtn w3-right w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </form>
        <h4 id="thanksMsg"></h4>
      </div>
    </div>
    <div class="w3-row-padding">
      <h4 id="messages"></h4>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer w3-padding-16">


    <div class="w3-center  w3-margin-top ">
      <a href="#top" class="w3-button width100">To the
        top</a>
      <div class="w3-xlarge w3-section">
        <i class="fab fa-instagram fa-2x w3-hover-opacity-blue "></i>
        <i class="fab fa-snapchat fa-2x w3-hover-opacity-blue "></i>
        <i class="fab fa-twitter fa-2x w3-hover-opacity-blue "></i>
        <i class="fab fa-linkedin fa-2x w3-hover-opacity-blue "></i>
      </div>
    </div>


  </div>
</body>

</html>
<script src="/assets/js/jquery-2.2.4.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/message.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/imageEffects.js"></script>

